<div class="container">
    <div class="section1">
        <div class="row">
            <div class="col">
                <!-- <h3 class="hero-caption">4536+ Jobs listed</h3> -->
                <h1 class="hero-title">Contact Information</h1>
            <p class="hero-slogan">If you have any questions, feedback, or need assistance, please feel free to contact us using the information below:</p>
            <ul>
                <li>Email: info@jobboard.com</li>
                <li>Phone: 123-456-789</li>
                <li>Address: 123 Main Street, City, Country</li>
            </ul>
          </div>
        </div>
  </div>

    <div class="section2">
      
      <div class="card">
        <h3 class="hero-caption">Get in Touch</h3>

        <p>Create your account to get full access</p>
        <textarea placeholder="Message" name="description" id="description" cols="30" rows="5"></textarea>

        <div class="row">
            <div class="search">
                <input placeholder="Your Name" type="text" id="text" name="email" />
            </div>
            <div class="search">
               <input placeholder="Your Email" type="text" id="email" name="password" size="20"/>
            </div>
        </div>

        <button class="btn b1" routerLink="/">Send Message</button>
      </div>
    </div>
  </div>
  