
<div class="header">

  <h1 routerLink="" >
    JOB BOARD
  </h1>

  <nav class="nav-bar" [ngClass]="{ active: isShow }">
    <ul>
      <li>
        <a routerLink="">Home</a>
      </li>
      <li>
        <a routerLink="jobs">Browse Job</a>
      </li>
      <li>
        <div class="dropdown">
          <a class="dropbtn" routerLink="">Pages</a>
          <div class="dropdown-content">
            <p routerLink="/jobseeker" >Job Seeker</p>
            <p routerLink="/employer" >Employer</p>
            <p routerLink="/admin" >Admin</p>
          </div>
        </div>
      </li>
      <li>
        <a routerLink="contact">Contact</a>
      </li>
      <li>
        <a class="login b1" routerLink="post">POST A JOB </a>
      </li>
      <li>
        <a class="login b2" *ngIf="!_auth.loggedIn()" routerLink="login">LOGIN</a>
        <a class="login b2" *ngIf="_auth.loggedIn()" (click)="logOut()" routerLink="login">LOGOUT</a>
      </li>
    </ul>
  </nav>

  <div class="hamburger" (click)="toggleDivs()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</div>

<div class="main">
  <router-outlet></router-outlet>
</div>

<!-- FOOTER START -->
<div class="footer">
  <div class="contain">
    <div class="col">
      <h1>Company</h1>
      <ul>
        <li>About</li>
        <li>Mission</li>
        <li>Services</li>
      </ul>
    </div>
    <div class="col">
      <h1>Products</h1>
      <ul>
        <li>About</li>
        <li>Mission</li>
        <li>Services</li>
      </ul>
    </div>
    <div class="col">
      <h1>Accounts</h1>
      <ul>
        <li>About</li>
        <li>Mission</li>
        <li>Services</li>
      </ul>
    </div>
    <div class="col">
      <h1>Resources</h1>
      <ul>
        <li>Webmail</li>
        <li>Redeem code</li>
        <li>Site map</li>
      </ul>
    </div>
    <div class="col">
      <h1>Support</h1>
      <ul>
        <li>Contact us</li>
        <li>Web chat</li>
        <li>Open ticket</li>
      </ul>
    </div>
    <!-- <div class="col social">
      <h1>Social</h1>
      <ul>
        <li><img src="https://svgshare.com/i/5fq.svg" width="32" style="width: 32px;"></li>
        <li><img src="https://svgshare.com/i/5eA.svg" width="32" style="width: 32px;"></li>
        <li><img src="https://svgshare.com/i/5f_.svg" width="32" style="width: 32px;"></li>
      </ul>
    </div> -->
    <div class="clearfix">
      Copyright ©2023 All rights reserved | This template is made by Uzair Junaid
     </div>
  </div>
  
</div>
<!-- END OF FOOTER -->
