<div class="container">

  <div class="section1">
    <div class="row">

      <div class="col">
        <h3 class="hero-caption">4536+ Jobs listed</h3>
        <h1 class="hero-title">Find Your Next Dream Job</h1>
        <p class="hero-slogan">Easiest way to find a perfect job</p>
        <div class="btn-row">
            <button class="btn b1" routerLink="/jobs">Looking For a Job?</button>
            <button class="btn b2" routerLink="/post">Find Talent</button>
        </div>
      </div>

      <div class="col">
        <img src="../../assets/9933425_4300569.svg" alt="">
      </div>

    </div> 
  </div>

  <div class="section2">

    <h1 class="sec-heading">Job Listing</h1>
    <div class="row" >
        <div class="card" *ngFor="let data of jobs">
            <h3 class="hero-caption">{{data.title}}</h3>
            <p>{{data.location}}</p>
            <p>{{data.jobType}}</p>
            
            <button class="btn b1" [routerLink]="['/detail/' + data._id]">Apply Now</button>
        </div>
        <div class="card">
            <h3 class="hero-caption">Software Engineer</h3>
            <p>California, USA</p>
            <p>Part-time</p>
            
            <button class="btn b1" routerLink="/">Apply Now</button>
        </div>
        <div class="card">
            <h3 class="hero-caption">Software Engineer</h3>
            <p>California, USA</p>
            <p>Part-time</p>
            
            <button class="btn b1" routerLink="/">Apply Now</button>
        </div>
        <div class="card">
            <h3 class="hero-caption">Software Engineer</h3>
            <p>California, USA</p>
            <p>Part-time</p>
            
            <button class="btn b1" routerLink="/">Apply Now</button>
        </div>
        <div class="card">
            <h3 class="hero-caption">Software Engineer</h3>
            <p>California, USA</p>
            <p>Part-time</p>
            
            <button class="btn b1" routerLink="/">Apply Now</button>
        </div>
        <div class="card">
            <h3 class="hero-caption">Software Engineer</h3>
            <p>California, USA</p>
            <p>Part-time</p>
            
            <button class="btn b1" routerLink="/">Apply Now</button>
        </div>
    </div>

  </div>

  <!-- <div class="section3">
    asasa Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate,
    eveniet voluptates. Veniam dolorem architecto necessitatibus, odit ullam
    quod praesentium voluptatum? Error quos voluptate deleniti id. Sed
    repellendus dolores aliquid voluptatibus. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Enim dolorum architecto nemo quo, cupiditate
    quis sapiente dicta consectetur beatae eligendi non harum eveniet
    reprehenderit odio at facere vitae aliquid distinctio, totam unde! Possimus
    rerum quam aspernatur deleniti fugiat adipisci sed consequatur corrupti ex.
    Commodi modi explicabo perspiciatis, voluptatem consequuntur labore quaerat
    illum obcaecati dolor facere ipsum aperiam eum quam expedita laudantium
    reprehenderit beatae assumenda quod fugiat hic animi maxime. Itaque officiis
    repellendus dolore, sit recusandae nemo libero quisquam doloribus numquam
    fugiat nesciunt maiores eveniet in quos vitae pariatur nisi. Assumenda eos
    autem earum sunt quidem nostrum, perspiciatis minus accusamus rerum esse
    tempora molestias ipsam, nihil soluta error iure quis expedita, quam eaque!
    Voluptates reiciendis earum sit omnis blanditiis optio? Laborum nisi
    voluptatum doloribus esse non alias magnam, maiores adipisci debitis dolorem
    ea ducimus, voluptatibus voluptate expedita quam earum aliquid suscipit?
    Repellendus temporibus vel vitae quisquam soluta, ad officia enim esse
    minima tempore excepturi tempora unde? Repellendus quo velit asperiores
    atque aut dignissimos nobis perspiciatis, voluptatem blanditiis officiis
    ducimus cupiditate nemo inventore harum fugiat debitis reiciendis, quia
    consequatur, mollitia quisquam. Deleniti, ab magni necessitatibus minima
    dignissimos quisquam, ducimus consectetur nemo culpa quaerat alias
    laudantium nobis voluptas molestiae deserunt corporis nam mollitia. Suscipit
    illo quaerat, modi pariatur sequi debitis voluptate officiis error, dicta
    velit quos quod quae? Sit facere, sint cumque alias soluta cum incidunt quis
    sequi reprehenderit vitae provident dolore nam officia qui amet at suscipit
    dolor unde dolorum corporis enim culpa. Omnis minus, culpa quo id
    consectetur voluptas illum eos voluptatum facilis ab consequatur labore
    optio error impedit animi excepturi dolor. Temporibus id amet illum iusto a
    at saepe alias voluptate eveniet, iste nobis sint, eius commodi earum fugit.
    Optio laborum ullam natus blanditiis iste assumenda voluptatum quaerat iure
    odit, illo accusantium eligendi, accusamus incidunt obcaecati quisquam
    minus? Ipsa, architecto nobis laudantium atque eaque natus consequuntur quae
    iste rem distinctio totam culpa, tempore placeat praesentium dolor dolorem
    aliquid, repudiandae quasi cumque quo nam. Voluptates, illo impedit ut
    placeat consequuntur aliquid quam velit, porro laudantium ad enim officiis
    quae cumque necessitatibus voluptatem at adipisci eos fuga dolorum dolorem
    perspiciatis illum nisi nemo. Quae fugit voluptas dolore aspernatur placeat.
    Exercitationem nisi hic, ipsam, nostrum libero veritatis atque accusantium
    porro natus voluptates magnam error? Iusto, in nam. Deleniti accusantium,
    corporis nulla excepturi consectetur sint recusandae est dolores omnis
    rerum, iure sapiente natus. Perspiciatis architecto nemo molestiae, non unde
    incidunt deserunt. Deleniti accusamus, quasi illo quam, aperiam, minima
    incidunt dolor sapiente asperiores rerum veritatis cumque earum a totam
    nobis magnam unde. In ab ratione aperiam soluta ut laudantium, sit iusto
    voluptate animi hic aspernatur, sequi deleniti perferendis quas! Itaque,
    sunt. Voluptatem debitis nihil, laborum sequi eos deserunt qui optio dolores
    nobis sunt magnam alias voluptate sapiente nisi ab repellendus soluta eum
    consequuntur sit inventore officiis ad delectus sed? Dolorum illo harum vel
    ut quisquam amet veritatis voluptatibus tempore incidunt beatae. Aut
    corrupti hic at ipsam iste dicta alias quaerat? Numquam voluptatem nostrum
    dolore placeat fugiat aliquam illum? Sint quod reprehenderit similique,
    minus inventore enim.
  </div> -->

</div>
